.popup__close {
  width: 32px;
  height: 32px;
  background: url(../../../images/close.png) no-repeat center / 100%;
  margin: 0 0 auto auto;
  cursor: pointer;
  border: none;
}

.popup__close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 560px) {
  .popup__close {
    width: 20px;
    height: 20px;
  }
}