.signup__heading {
    color: white;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 52px 0 44px 0;
}

@media screen and (max-width: 480px) {
    .signup__heading {
        font-size: 20px;
        line-height: 24px;
    }
}