.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: visibility .5s linear, opacity .5s linear;
  visibility: hidden;
  opacity: 0;
 }
